@import "tailwindcss";

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: Arial, Arial, Helvetica, sans-serif
}

html, body {
    height: 100%;
    width: 100%;
}

/* form {
    padding: 20px;
    margin: 20px;
} */

#form-preview::-webkit-scrollbar {
    display: none;
}